<% include ../partials/header %>
<div class="container">
<hr class="mt-4">
  <form action="/campgrounds/find" method='GET' class="input-group mx-auto w-75">
    <input type="text" class="form-control mx-auto " name='search' placeholder='Find Your Next Campground'>
    <span class="input-group-btn d-lg-block d-none"><button class="btn btn-primary">Search</button></span>
  </form>
<hr>
   <p class="lead text-center">Search results for <strong>'<%=searchQuery%>'</strong> </p> 
  <% if(campgrounds.length === 0) { %>
    <hr>  
    <p class="text-center lead">We found nothing...</p>
  <% }  %>
  <div class="row mb-5">
        <div class="col">
       <% campgrounds.forEach(function(campground){ %>
            <div class="list-group">
              <a class="list-group-item list-group-item-action" href= "/campgrounds/<%= campground._id %>">  
                <div class="row">
                  <div class="col-md-3"><img class="img-fluid" src="<%= campground.image %>"></div>
                  <div class="mt-2 col-md-9">
                    <span class="text-muted float-right">$<%= campground.price %>/night</span>
                    <h5><%= campground.name %></h5>
                    <p class="text-justify"><%- campground.description.substr(0, 300) %></p>
                  </div>
                </div>
              </a>
   		<% }); %>
        </div>    
      </div>
    </div>
  </div>
</div>
   

<% include ../partials/footer %>