<% include ../partials/header %>

<div class="container">
  <%if(currentUser && currentUser.isAdmin){ %>
  <p class="text-right text-muted">Admin is here</p>
<% } %>
  <div class="row">
    <div class="col-md-3">
      <p class="lead">
        YelpCamp
      </p>
      <div class="list-group">
        <div class="list-group-item active">
          Info 1
        </div>
        <div class="list-group-item">
          Info 2
        </div>
        <div class="list-group-item">
          Info 3
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <img class="img-fluid" src="<%= campground.image %>">
        <div class="card-body">
            <h4 class="float-right">$ <%= campground.price %>/night</h4>
            <h4><a><%= campground.name %></a></h4>
            <p><%- campground.description %></p>
            <p class="text-muted float-right"><em>Submitted by <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em></p>
            <% if(currentUser && campground.author.id && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <a class="btn btn-small btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
              <form id="delete-form" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
                <button class="btn btn-small btn-danger">
                  Delete
                </button>
              </form>
            <% } %>          
           </div>
       </div>
      <div class="card bg-light my-4">
        <div class="card-body"> 
        <% if(currentUser && campground.author.id && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
             <h4><a class="btn btn-outline-primary float-right" href="/campgrounds/<%= campground._id %>/comments/new" data-toggle="modal" data-target="#addcomment">Add New Comment</a></h4>
           <% } %>
          <h4 class="lead text-center">
            Comments
          </h4>
          <hr>        
          <% campground.comments.forEach(function(comment){ %>
            <div class="row">
              <div class="col-md-12">
                <strong><%= comment.author.username %></strong>
                <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
                <div><%-comment.text %></div>
                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                <div>
                  <a class = "btn btn-outline-warning btn-sm" href="/campgrounds/<%= campground._id %>/comments/<%= comment.id %>/edit">Edit</a>
                  <form id="delete-form" action="/campgrounds/<%= campground._id%>/comments/<%= comment.id %>?_method=DELETE" method="POST">
                   <button class="btn btn-outline-danger btn-sm">Delete</button>
                  </form>
                </div>
               <% } %>      
                <hr>
              </div>
            </div>  
          <% }) %>
      </div>
     </div>
  </div>
</div>
  
<!--add comment modal -->
<div class="modal fade" id="addcomment">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title">Add New Comment</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form action="/campgrounds/<%= campground._id %>/comments/"  method="POST">
              <div class="form-group">
                  <textarea class="form-control" rows="7" name="comment[text]" placeholder="Your Comment Here"></textarea>
                  </div>
 								   	<div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
              </div>
          </form>
        </div>
    </div>
  </div>
</div>
</div>
  
 <footer class="bg-light py-3 mt-5">
<p class="text-bottom text-right my-1 mr-5">Copyright &copy; 2018 - Cahya Isra</p></footer> 


<% include ../partials/footer %>